@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<<<<<<< HEAD
<p>Hello :)</p>
=======
<p>Use this page to detail your site's privacy policy.</p>
>>>>>>> 802833407691271b651117e4da5deea48f1faf4b
